@charset "UTF-8";

body{
	background-color: rgb(107, 189, 158);
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	color: rgba(0, 0, 255, 0.74);
}

h1#principal{
	text-align: center;
	background-color: white;
	color: rgb(78, 66, 155);
}
/*poderia colocar só o #principal*/

h2{
	color: rgb(245, 79, 2);
}